* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background-color: #ffffff;
    color: #111;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-weight: 900;
    letter-spacing: 2px;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #111;
    font-weight: 500;
}

/* hero */
.hero {
    width: 100%;
    min-height: 80vh;
    background-image: url("PageNike.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: flex-start;
    padding: 60px 40px;
}

.hero-content {
    max-width: 500px;
    color: #000000;  
}

.hero-content h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.hero-content button {
    background-color: #000;
    color: #fff;
    padding: 12px 26px;
    border: none;
    cursor: pointer;
}


button {
    padding: 12px 24px;
    border: none;
    background-color: #111;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

/* Products */
.products {
    padding: 50px 40px;
}

.products h2 {
    margin-bottom: 30px;
    font-size: 28px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card {
    text-align: center;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.18);
}

.card img {
    width: 100%;
    margin-bottom: 10px;
}

.card h3 {
    margin: 10px 0 5px;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background-color: #f4f4f4;
    margin-top: 40px;
}

/* Responsive */
@media (max-width: 768px) {
    .hero {
        min-height: 60vh;
        padding: 40px 20px;
    }

    .hero-content h1 {
        font-size: 32px;
    }
}

